.full-width {
    width: 95%;
}

.half-width {
    width: 45%;
}

.form-size {
    width: 75%;
}

#above {
    position: static;

    width:100%;
    height:100%;
}

#content {
    position: relative;
}

#content #text {
    position:relative;
}